body
{
  background-color: #CCF3EE;
}
hr
{
  background-color: #CCF3EE;
  border-style: none;
  border-top-style: dotted;
  border-color: #187498;
  border-width: 3px;
}
h1
{
  color: #187498;
}
h3
{
  color: #187498;
}
