body
{
  background-color: #CCF3EE;
}
hr
{
  background-color: #CCF3EE;
  border-style: none;
  border-top-style: dotted;
  border-color: #187498;
  border-width: 3px;
}
h1 {color: #187498;}
h3 {color: #187498;}
p
{
  color: #006E7F;
}
td {color: #006E7F;}
ul {color: #006E7F;}
ol {color: #006E7F;}
