body
{
  background-color: #DFF6FF;
}
hr
{
  background-color: #DFF6FF;
  border-style: none;
  border-top-style: dotted;
  border-color: #0093AB;
  border-width: 3px;
}
h1 {color: #0093AB;}
h2 {color: #0093AB;}
h3 {color: #0093AB;}
